:root {
  --ifm-color-primary: #2c7df7;
  --ifm-color-primary-dark: #106cf6;
  --ifm-color-primary-darker: #0965ee;
  --ifm-color-primary-darkest: #0753c4;
  --ifm-color-primary-light: #488ef8;
  --ifm-color-primary-lighter: #5697f9;
  --ifm-color-primary-lightest: #80b1fa;
  --ifm-code-font-size: 95%;
}

html[data-theme='dark'] {
  --ifm-background-color: #191f36;
  --ifm-background-surface-color: #2a3045;
}

html[data-theme='light'] {
  --ifm-background-color: #fff;
  --ifm-background-surface-color: #f9f8f8;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

small {
  margin-bottom: 10px;
}

.markdown > .p,
.markdown > p {
  font-size: 18px;
  line-height: inherit;
  margin: 11px 0;
}

img {
  margin: 11px 0;
}
